<div class="uk-container article-container">
  <article class="uk-article article">

    <h1 class="uk-article-title "><a class="uk-link-reset" href="/article/<%= @article.id %>"><%= @article.title %></a>
    </h1>

    <p class="uk-article-meta">Written by <a href="/user/<%= @article.user.username %>"><%= @article.user.name %></a>
      on <%= @article.created_at %></p>

    <p><%= @article.intro %></p>

  </article>

  <!--author articles control panel-->
  <% if @article.user == current_user %>
    <div class="uk-container-expand article-buttons">
      <button class="uk-button uk-button-primary">New paragraph</button>
      <button class="uk-button uk-button-primary">New chart</button>
      <button class="uk-button uk-button-primary">New Photo gallery</button>
    </div>
  <% end %>
</div>