<div class="uk-container article-container">
  <article id="article" class="uk-article article">

    <h1 class="uk-article-title "><a class="uk-link-reset" href="/article/<%= @article.id %>"><%= @article.title %></a>
    </h1>

    <p class="uk-article-meta">Written by <a href="/user/<%= @article.user.username %>"><%= @article.user.name %></a>
      on <%= @article.created_at %></p>

    <p><%= @article.intro %></p>

    <% positions = [] # used to create position for new paragraphs %>

    <% @contents.each do |content| %>

      <% if content.class == Paragraph %>
        <div id="paragraph<%= content.id %>" class="paragraph-container">
          <div id="paragraph-content<%= content.id %>" class="paragraph-content">
            <% unless content.title.nil? %>
              <h3 class="paragraph_title"><%= content.title %></h3>
            <% end %>
            <p>
              <%= content.text %>
              <% if @article.user == current_user %>
                <%= link_to 'Delete', article_paragraph_path(@article.id, content.id), method: :delete, class: 'container-button-admin' %>
                <!--to edit an already paragraph, the form from _paragraph.html.erb will be used
                    this link will send a get request to the server for the edit.js.erb (ajax), the script will render
                    the form-->
                <%= link_to 'Edit', edit_article_paragraph_path(@article, content), remote: true, class: 'container-button-admin' %>
              <% end %>
            </p>
            <% positions << content.position %>
          </div>
        </div>

      <% elsif content.class == Gallery %>

        <div id="gallery<%= content.id %>" class="gallery-container">
          <div id="gallery-content<%= content.id %>" class="gallery-content">

            <% unless content.title.nil? %>
              <h3 class="gallery_title"><%= content.title %></h3>
            <% end %>

            <% unless content.description.nil? %>
              <p><%= content.description %>
              <p>
            <% end %>

            <% positions << content.position %>

            <button id="toggle-for-gallery<%= content.position %>" uk-toggle="target: #gallery-modal<%= content.position %>" class="content-button" type="button">See
              gallery
            </button>
            <% if @article.user == current_user %>
              <div id="new-image-form-container<%= content.id %>">
                <%= link_to 'Delete gallery', article_gallery_path(@article.id, content.id), method: :delete, class: 'container-button-admin' %>
                <%= link_to 'New photo', new_article_gallery_image_path(@article, content), remote: true, id: ('new-photo-link' + +content.id.to_s), class: 'container-button-admin' %>
              </div>
            <% end %>

            <div id="gallery-modal<%= content.position %>" uk-modal>
              <div class="uk-child-width-1-3@m" uk-grid uk-lightbox="animation: slide" id="gallery-for-modal<%= content.id %>" autofocus>
                <% content.images.each do |image| %>
                  <div>
                    <a class="uk-inline" href="<%= image.image_url %>" data-caption="Caption 1">
                      <img src="<%= image.image_url %>" alt="">
                    </a>
                  </div>
                <% end %>
              </div>
            </div>

            <div class="uk-position-relative uk-visible-toggle uk-light slideshow-container" uk-slideshow>
              <!-- toggle modal for gallery-->

              <ul class="uk-slideshow-items" uk-lightbox="animation: slide">
                <% content.images.each do |image| %>
                  <div class='bounding-box' style="background-image: url(<%= image.image_url %>);">
                  </div>
                <% end %>
              </ul>

              <a style="color: black;" class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
              <a style="color: black;" class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

            </div>
          </div>
        </div>
      <% end %>

    <% end %>

  </article>

  <!--modal for gallery-->


  <!--author articles control panel-->
  <!--used to create new paragraph (to edit an already paragraph, the form from _paragraph.html.erb will be used) -->
  <% if @article.user == current_user %>
    <div class="article-form-container" id="new-paragraph">
      <%= form_with(model: [@article, @article.paragraphs.build], local: true) do |f| %>
        <%= f.text_field :title, class: 'uk-input', placeholder: 'Title of paragraph (optional, can be a subtitle of the article)' %>
        <%= f.text_area :text, class: 'uk-textarea', placeholder: 'Content of paragraph' %>
        <% if positions.length != 0 %>
          <%= f.hidden_field :position, :value => positions.max + 1 %>
        <% else %>
          <%= f.hidden_field :position, :value => 1 %>
        <% end %>
        <div class="submit-button">
          <button class="uk-button uk-button-primary">Submit</button>
          <button type="button" id="cancel-para-btn" class="cancel-para-btn uk-button uk-button-primary">Cancel</button>
        </div>
      <% end %>
    </div>

    <div class="article-form-container" id="new-gallery">
      <%= form_with(model: [@article, @article.galleries.build], local: true) do |f| %>
        <%= f.text_field :title, class: 'uk-input', placeholder: 'Title of gallery (optional, can be a subtitle of the article)' %>
        <%= f.text_area :description, class: 'uk-textarea', placeholder: 'Description of gallery (optional)' %>
        <% if positions.length != 0 %>
          <%= f.hidden_field :position, :value => positions.max + 1 %>
        <% else %>
          <%= f.hidden_field :position, :value => 1 %>
        <% end %>
        <div class="submit-button">
          <button class="uk-button uk-button-primary">Submit</button>
          <button type="button" id="cancel-gal-btn" class="cancel-gal-btn uk-button uk-button-primary">Cancel</button>
        </div>
      <% end %>
    </div>

    <div id="article-control-panel" class="uk-container-expand article-buttons">
      <button id="paragraph-btn" uk-tooltip="Add a new paragraph to article" class="uk-button uk-button-primary">New
        Paragraph
      </button>
      <button id="chart-btn" uk-tooltip="Add a new chart or graph to article, good use to visual represent statistics" class="uk-button uk-button-primary">New
        chart
      </button>
      <button id="gallery-btn" uk-tooltip="Add a new gallery of images" class="uk-button uk-button-primary">New Photo
        gallery
      </button>
    </div>
  <% end %>
</div>

<!--scripts (only this page)-->
<%= javascript_include_tag 'article' %>
<%= javascript_include_tag 'paragraphs' %>
<%= javascript_include_tag 'galleries' %>