<div class="uk-container article-container">
  <article class="uk-article article">

    <h1 class="uk-article-title "><a class="uk-link-reset" href="/article/<%= @article.id %>"><%= @article.title %></a>
    </h1>

    <p class="uk-article-meta">Written by <a href="/user/<%= @article.user.username %>"><%= @article.user.name %></a>
      on <%= @article.created_at %></p>

    <p><%= @article.intro %></p>

    <% @article.paragraphs.each do |paragraph| %>
      <div id="para<%= paragraph.id %>">
        <% unless paragraph.title.nil? || paragraph.title.length == 0 %>
          <h3><%= paragraph.title %></h3>
        <% end %>
        <p><%= paragraph.content %>
        <% if current_user == @article.user %>
          <!-- TODO fix ajax delete -->
          <%= link_to 'remove', paragraph_delete_path(paragraph.id), method: :post,data: {confirm: "Are you sure"}, remote: false %>
        <% end %>
        </p>
      </div>
    <% end %>

  </article>

  <!--author article control panel-->
  <% if @article.user == current_user %>
    <div class="uk-container-expand article-buttons">
      <button class="uk-button uk-button-primary" type="button" uk-toggle="target: #new-paragraph-modal">New paragraph
      </button>
      <button class="uk-button uk-button-primary">New chart</button>
      <button class="uk-button uk-button-primary">New source/code</button>
      <button class="uk-button uk-button-primary">New table</button>
    </div>

    <!-- modal to create new article -->
    <div id="new-paragraph-modal" uk-modal>
      <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">New Paragraph</h2>
        <%= form_with scope: :paragraph, url: paragraph_new_path(@article.id), local: true do |f| %>
          <div class="uk-margin">
            <%= f.label :title %>: <br>
            <%= f.text_field :title, class: 'uk-input' %>
          </div>
          <div class="uk-margin">
            <%= f.text_area :content, class: 'uk-textarea uk-margin-small article' %>
            <button class="uk-button uk-button-default">Submit</button>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>