<div class="uk-container uk-container-large">

  <div class="profile-header">
    <!-- profile background -->
    <div class="uk-cover-container uk-height-medium profile-background">
      <%= image_tag(@user.background_url, class: 'uk-cover') if @user.background? %>
    </div>

    <!-- profile card -->
    <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m profile-card">

      <div class="profile-card-header">
        <h3 class="uk-card-title profile-name"><%= @user.name %>
          <% if @user == current_user %>
            <!-- This is a button toggling the off-canvas -->
            <span uk-toggle="target: #control-panel" type="button" uk-icon="cog" class="profile-cpn-button"></span>
          <% end %>
        </h3>
      </div>
      <div class="uk-cover-container uk-height-medium profile-picture">
        <%= image_tag(@user.avatar_url) if @user.avatar? %>
      </div>
      <div class="profile-categories">
        <div class="category">Ruby on rails</div>
        <div class="category">Operator pe combina</div>
        <div class="category">Something else</div>
        <div class="category">Anime grils</div>
        <div class="category">Coh2</div>
        <div class="category">Maestru deceptilor</div>
      </div>
    </div>
  </div>

  <!-- user content -->
  <div class="profile-content uk-card uk-card-default">
    <ul uk-tab data-uk-tab="{connect:'#my-id'}">
      <li><a href="">Articles</a></li>
      <li><a href="">About me</a></li>
    </ul>

    <div id="my-id" class="uk-switcher uk-margin">
      <!--  -->
      <div class="articles uk-padding-small">

        <!--iterate over user articles-->
        <% @user.articles.each do |article| %>
          <article class="uk-article">
            <h1 class="uk-article-title"><a class="uk-link-reset" href=""><%= article.title %></a></h1>
            <p class="uk-article-meta">Written on <%= article.created_at %>.</p>
            <p><%= article.intro %></p>

            <!-- go to article -->
            <div class="uk-grid-small uk-child-width-auto" uk-grid>
              <div>
                <a class="uk-button uk-button-text" href="/article/<%= article.id %>">Read more</a>
              </div>
            </div>
          </article>
        <% end %>

      </div>

      <!--display info about user-->
      <div class="uk-padding-small">
        <div class="uk-flex uk-flex-between uk-flex-stretch">
          <div><p>Sex: <%= @user.sex ? 'Woman' : 'Men' %></p></div>
          <div><p>Date of birth: <%= @user.age ? @user.age : 'not register' %></p></div>
        </div>
        <div><h4>About me</h4></div>
        <div><p><%= @user.description.nil? ? 'Author has no description' : @user.description %></p></div>
      </div>
    </div>
  </div>

  <!-- user control panel / off canvas -->
  <!-- content available only if this is the profile of logged user -->
  <% if @user == current_user %>
    <div class="uk-offcanvas-content">

      <!-- This is an anchor toggling the off-canvas -->
      <a href="#control-panel" uk-toggle></a>

      <!-- This is the off-canvas -->
      <div id="control-panel" uk-offcanvas>
        <div class="uk-offcanvas-bar control-panel">

          <button class="uk-offcanvas-close" type="button" uk-close></button>

          <!-- Button to change avatar -->
          <div class="uk button-container">
            <button class="uk-button uk-button-default form-opener" type="button" id="avatar_button">Avatar</button>
            <div uk-drop="mode: click">
              <div class="uk-card uk-card-body uk-card-default profile_container" style="display: none">
                <%= form_for @user, url: user_update_path, html: {method: :post} do |f| %>
                  <%= f.file_field :avatar, id: 'avatar_input' %>
                  <%= f.submit 'Upload', id: 'avatar_submit' %>
                <% end %>
              </div>
            </div>
          </div>

          <!-- Button to change background -->
          <div class="uk button-container">
            <button class="uk-button uk-button-default form-opener" type="button" id="background_button">Background</button>
            <div uk-drop="mode: click">
              <div class="uk-card uk-card-body uk-card-default profile_container" style="display: none">
                <%= form_for @user, url: user_update_path, html: {method: :post} do |f| %>
                  <%= f.file_field :background, id: 'background_input' %>
                  <%= f.submit 'Upload', id: 'background_submit' %>
                <% end %>
              </div>
            </div>
          </div>


          <!-- button toggling the modal age and genre -->
          <div class="uk button-container">
            <button class="uk-button uk-button-default form-opener" type="button" uk-toggle="target: #age-ang-genre-modal">Age
              and genre
            </button>
          </div>

          <!-- button toggling the modal description -->
          <div class="uk button-container">
            <button class="uk-button uk-button-default form-opener" type="button" uk-toggle="target: #description-modal">Description
            </button>
          </div>

          <!-- button toggling the modal new article -->
          <div class="uk button-container">
            <button class="uk-button uk-button-default form-opener" type="button" uk-toggle="target: #new-article-modal">New
              Article
            </button>
          </div>

        </div>
      </div>

    </div>
  <% end %>

</div>

<!-- content available only if this is the profile of logged user -->
<% if @user == current_user %>
  <!-- Modal for introducing age and sex-->
  <div id="age-ang-genre-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
      <h2 class="uk-modal-title">Sex and age</h2>
      <%= form_for @user, url: user_update_path, html: {method: :post} do |f| %>
        <div class="uk-margin">
          <%= f.label :sex %>:<br/>
          <%= f.select :sex, options_for_select([['Men', 0], ['Women', 1]]), {}, {class: 'uk-select'} %>
        </div>
        <div class="uk-margin">
          <%= f.label :age, 'Date of birth' %>:<br/>
          <%= f.date_select :age,
                            # values can be changed in user controller
                            {:order => [:day, :month, :year], start_year: @start, end_year: @end},
                            {class: 'uk-select uk-form-width-small'}
          %>
          <button class="uk-button uk-button-default ">Submit</button>
        </div>
      <% end %>
    </div>
  </div>

  <!-- modal about me-->
  <div id="description-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
      <h2 class="uk-modal-title">Description</h2>
      <%= form_for @user, url: user_update_path, html: {method: :post} do |f| %>
        <div class="uk-margin">
          <%= f.text_area :description, class: 'uk-textarea uk-margin-small description' %>
          <button class="uk-button uk-button-default">Submit</button>
        </div>
      <% end %>
    </div>
  </div>

  <!-- modal to create new article -->
  <div id="new-article-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
      <h2 class="uk-modal-title">New Article</h2>
      <%= form_with scope: :article, url: article_new_path, local: true do |f| %>
        <div class="uk-margin">
          <%= f.label :title %>: <br>
          <%= f.text_field :title, class: 'uk-input' %>
        </div>
        <div class="uk-margin">
          <%= f.text_area :intro, class: 'uk-textarea uk-margin-small article' %>
          <button class="uk-button uk-button-default">Submit</button>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<!--only this page scripts-->
<%= javascript_include_tag 'user' %>
