<!DOCTYPE html>
<html>
<head>
  <title>Skyline</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>

<!--navbar-->
<nav class="jar-navbar uk-container-expand">
  <div class="jar-nav-container jav-nav-left">
    <div class="jar-nav-logo">
      <a href="/">
        Skyline
      </a>
    </div>

    <% if user_signed_in? %>
      <div class="jar-nav-item">
        <div class="uk-search uk-search-default jar-search">
          <a href="" uk-search-icon></a>
          <input class="uk-search-input search_input" id="search_input" type="search" placeholder="Search...">
          <div class="jar-search-results uk-container" id="jar-search-results"></div>
        </div>
      </div>

      <div class="jar-nav-item">
        <select class="uk-select search-options" id="search-options" style="width: 200px">
          <option value="users">Users</option>
          <option value="tags">Article by tags</option>
          <option value="titles">Article by title</option>
        </select>
      </div>
    <% end %>
  </div>


  <div class="jar-nav-container jav-nav-right">
    <% if user_signed_in? %>
      <div class="jar-nav-item">
        <p>Welcome <%= link_to current_user.name, user_profile_url(current_user.username) %></p>
      </div>
    <% end %>

    <% if user_signed_in? %>
      <div class="jar-nav-item">
        <p class="jar-nav-settings">Settings</p>
        <div uk-dropdown>
          <ul class="uk-nav uk-navbar-dropdown-nav">
            <li><%= link_to 'Account Settings', edit_user_registration_path %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          </ul>
        </div>
      </div>
    <% else %>
      <div class="jar-nav-item"><%= link_to "Sign up", new_user_registration_path %></div>
      <div class="jar-nav-item"><%= link_to "Login", new_user_session_path %></div>
    <% end %>

  </div>
</nav>

<%= javascript_include_tag 'search' %>

<%= yield %>
</body>
</html>
